.App {
  font-family: 'Roboto', sans-serif; /* Remplacement d'Arial par une police plus moderne */
  background-color: #f8f9fa; /* Fond légèrement plus clair */
  color: #343a40;
}

.list-group-item {
  padding: 15px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.list-group-item.active {
  background-color: #28a745;
  color: white;
  border-color: #218838;
}

.list-group-item:hover {
  background-color: #f0f2f5;
  cursor: pointer;
}

h5 {
  color: #495057;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #28a745;
  border-radius: 50px;
  color: white; /* Texte en blanc */
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.navbar {
  background-color: #28a745; /* Vert comme le bouton de sauvegarde */
  padding: 15px 20px;
  display: flex;
  justify-content: center; /* Centrer le titre */
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Légère ombre pour le relief */
}

.navbar-title {
  color: white; /* Texte en blanc */
  font-size: 1.5em; /* Taille de police plus grande */
  margin: 0; /* Retirer les marges par défaut */
  font-weight: bold; /* Gras pour que ça ressemble à un vrai titre */
}
